---
import '../styles/normalize.css'
import '../styles/vinsmake.css'
import { Font } from 'astro:assets'
import { site } from '../data.js'

interface Props {
	title?: string
	description?: string
	lang?: string
	author?: string
}

const { title = site.title, description = site.description, lang = site.lang, author = site.author } = Astro.props
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content={author} />
		<Font cssVariable="--ff-b" preload />
		<Font cssVariable="--ff-t" preload />
		<Font cssVariable="--ff-h" preload/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
